#adminbody{
    background-color: white !important;
}

.adminsidebar{
    background-color: black;
    width: 250px;
    height: 1000px;
    float: left;
}

.adminmaincontent{
    color: black !important;
}

.wallpapers{
    margin-left: 20px;
    margin-right: 20px;
}

.adminmaincontent .pagination{
    text-align: center !important;
}

.adminmaincontent h2{
    font-size: 20px !important;
    font-weight: bold !important;
}

.wallpapers img{
    width: 100% !important;
}

#nav{
    background-color: black;
    height: 50px;
    margin-left: 252px;
}

.bg-light{
    background-color: black !important;
}

.image{
    position: relative;
}

.btn-admin{
    bottom: 35px;
    position: absolute;
    font-size: 14px !important;
}

.trash{
    right: 20px !important;
    color: white;
}

#edit{
    left: 20px !important;
    color: white;
}

#adminbody a{
    font-size: 18px !important;
}

#adminbody li{
    list-style-type: none;
}

.side{
    margin-left: -40px !important;
}

#formModal{
    color: black !important;
}

.modal-content{
    margin-top: 20px;
}

.updatecontainer{
    margin-top: 10px !important;
}

.updatecontainer>h2{
    text-align: center;
}

.updatecontainer p{
    color: black !important;
}

.updatecontainer a{
    color: black !important;
    text-decoration: underline !important;
}

.topd > h2{
    text-align: center;
}

.frontpage h2{
    text-align: center;
}

// ============================ THE DASHBOARD ===================
.dashboard > .row{
    margin-top: 20px;
}

.dashboard h3{
    padding: 20px;
}

.dashboard .buttons form{
    display: inline;
    margin-left: 15px;
}

.innerbox1{
    background-color: rgb(60, 0, 128);
    width: 100%;
    color: white;
    height: 150px;
}

.innerbox2{
    background-color: green;
    width: 100%;
    color: white;
    height: 150px;
}

.innerbox3{
    background-color: rgb(240, 111, 64);
    width: 100%;
    color: white;
    height: 150px;
}

.innerbox4{
    background-color: rgb(223, 51, 51);
    width: 100%;
    color: white;
    height: 150px;
}

#admindescription p{
    display: inline !important;
}

@media (max-width: 990px){
    .adminsidebar{
        display: none;
    }

    .adminmaincontent{
        width: 100% !important;
    }

    .adminmaincontent #nav{
        width: 100% !important;
        margin-left: 0px !important;
    }

    .actualcontent{
        margin-left: 20px;
        margin-right: 20px;
    }

    .innerbox1, .innerbox2, .innerbox3, .innerbox4{
        width: 100% !important;
    }
}