#adminbody{
    background-color: white !important;
}

.adminsidebar{
    background-color: black;
    width: 250px;
    height: 1000px;
    float: left;
}

.adminmaincontent{
    color: black !important;
}

.adminmaincontent h2{
    font-size: 20px !important;
    font-weight: bold !important;
}

.wallpapers img{
    width: 100% !important;
}

#nav{
    background-color: black;
    height: 50px;
    margin-left: 252px;
}

.bg-light{
    background-color: black !important;
}

.image{
    position: relative;
}

.btn-admin{
    bottom: 35px;
    position: absolute;
    font-size: 14px !important;
}

.trash{
    right: 20px !important;
    color: white;
}

#edit{
    left: 20px !important;
    color: white;
}

#adminbody a{
    font-size: 18px !important;
}

#adminbody li{
    list-style-type: none;
}

.side{
    margin-left: -40px !important;
}

#formModal{
    color: black !important;
}

.modal-content{
    margin-top: 20px;
}

.updatecontainer{
    margin-top: 10px !important;
}

.updatecontainer>h2{
    text-align: center;
}

.topd > h2{
    text-align: center;
}

.frontpage h2{
    text-align: center;
}