#adminbody{
    background-color: white !important;
}

.adminsidebar{
    background-color: black;
    width: 250px;
    height: 1000px;
    float: left;
}

.adminmaincontent{
    color: black !important;
}

#nav{
    background-color: black;
    height: 50px;
    margin-left: 252px;
}

.bg-light{
    background-color: black !important;
}

#adminbody a{
    font-size: 18px !important;
}

#adminbody li{
    list-style-type: none;
}

.side{
    margin-left: -40px !important;
}

#formModal{
    color: black !important;
}

.modal-content{
    margin-top: 20px;
}